* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #050a42;
    height: 150px;
    width: 100%;
    /*padding: 20px;*/
    font-size: 18px;
}

.logo {
    padding: 100px;
}

.titulo {
    padding: 50px;
    color: white;
    font-size: 25px;
    text-align: left;
}

.img {
    width: 200px;
    height: 200px;
    float: left;
}

/*.barra{
    float: right;
    }*/

nav ul li {
    list-style: none;
    display: inline-block;
}

.barra a {
    color: white;
    text-decoration: none;
}

.foto {
    width: 900px;
    height: 500px;
}

p {
    /*text-align: center;*/
    padding: 35px;
    font-size: 20px;
}

.ofertas {
    text-align: center;
}

.panel {
    container: fluid;
    text-align: center;
}

.horiz {
    display: flex;
    flex-direction: row;
}

.columna {
    padding: 20px;
    /*border: 5px solid #1b1b32;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
}


.experiencia {
    padding: 40px 40px 60px 40px;
    background-color: #050a42;
    color: white;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
}

.parrafo {
    text-align: center
}

.seccion-js{
    padding: 300px;
}

.seccion-oscura {
    color: white;
    background-color: #050a42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-texto {
    font-size: 1.5rem;
    text-align: center;
    padding: 25px;
    margin-bottom: 80px;
}

.iconos-redes-sociales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


.iconos-redes-sociales a:hover {
    background-color: #e9d758;
    border: 4px solid #e07a5f;
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.final{
    padding: 50px;
}