
html{
 box-sizing: border-box;
 font-size: 62.5%;   
}

*,*:before,*:after{
    box-sizing: inherit;
}



/** header **/

.header {
    background: #050a42;
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    font-family: 'Josefin Sans', sans-serif;
    padding: 0,5rem;
    height: 10rem;
}


@media(min-width:768px){
   .barra{
    display: flex;
    align-items:center
   } 
}


.titulo {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    margin-right: 25rem;
}

.logo img{
    width: 14rem;
    height: 14rem;
    flex-shrink: 0

}

.navegacion a{
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-right: 27rem;

}

.navegacion a:visited{
    color: #FFF;
    margin-right: 20rem;
}





/** carrousel **/

.foto {
    width: 900px;
    height: 500px;
}

.ofertas h1{
    /*text-align: center;*/
    padding: 35px;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
}

.ofertas {
    text-align: center;
}

.panel {
    container: fluid;
    text-align: center;
}

.horiz {
    display: flex;
    flex-direction: row;
}

.columna {
    padding: 20px;
    /*border: 5px solid #1b1b32;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
}


.experiencia {
    padding: 40px 40px 60px 40px;
    background-color: #050a42;
    color: white;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
}

.parrafo{
    text-align:center
}

/** VIDEO **/

.video h1{

    text-align: center;
    padding: 35px;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
}

.video iframe{
    display: block;
    margin: 0 auto;
  }

  .calculadora h1{
    text-align: center;
    padding: 35px;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
  }

  /** footer **/

  .seccion-oscura {
    color: white;
    background-color: #050a42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-texto {
    font-size: 1.5rem;
    text-align: center;
    padding: 25px;
    margin-bottom: 80px;
}

.iconos-redes-sociales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


.iconos-redes-sociales a:hover {
    background-color: #e9d758;
    border: 4px solid #e07a5f;
}

.iconos-redes-sociales a:hover i {
    color: black;
}

  .final {
    width: 14rem;
    height: 14rem;
    flex: shrink 0;

  }